:root{
    --bloodborne-background: #dedfe1;
    --darksouls1-background: #6882AB;
    --darksouls2-background: #A52D2F;
    --darksouls3-background: #a07903;
    --border-color-black-bg: #fff5;
    --border-color-white-bg:rgba(61, 61, 61, 0.333);
    --shadow-color-ds: rgb(188 215 255 / 75%);
    --shadow-color-ds2: rgb(255 124 124 / 75%);
    --shadow-color-bloodborne2: rgb(255 255 255 / 75%);
    --shadow-color-ds3: rgb(255 223 68 / 75%);
    --w-image: 500px;
    --calcular: calc(3 / 2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    overflow: hidden;
    height: 100vh;
}

body{
    font-family: "adobe-garamond-pro", serif;
    background-color: var(--bloodborne-background);
    overflow: hidden;
    height: 100vh;
}


header{
    display: grid;
    grid-template-columns: 80px 1fr calc(var(--w-image) * var(--calcular)) ;
    grid-template-rows: 79px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--border-color-white-bg);

}

header .logo img{
    width: 80%;
}


header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header nav a{
    color: black;
    font-weight: 400;
}

header nav ul{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}

header nav{
    border-left: 1px solid var(--border-color-white-bg);
}

.carrossel{
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrossel .lista{
    height: 100%;
    position: relative;
}

.carrossel .lista::before{
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calcular)));
    border-left: 1px solid var(--border-color-white-bg);
    border-right: 1px solid var(--border-color-white-bg);
    z-index: 10;
    pointer-events: none;
}




.carrossel .lista .item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.carrossel .lista .item .image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calcular)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

.carrossel .lista .item .image img{
    width: 85%;
    margin-bottom: 20px;
}

.carrossel .lista .item .image figcaption{
    font-family: "adobe-garamond-pro", serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.carrossel .lista .item .conteudo-principal{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calcular)));
}

.carrossel .lista .item .conteudo-principal .conteudo{
    padding: 150px 20px 20px 80px;
}

.carrossel .lista .item .conteudo-principal .conteudo h2{
    font-size: 5em;
    font-family: "adobe-garamond-pro", serif;
}

.carrossel .lista .item .conteudo-principal .conteudo p{
    font-family: "adobe-garamond-pro", serif;
    font-size: 1.2em;
    text-align: justify;
    width: 35vw;
    margin: 20px 0;
}


.flecha{
    position: absolute;
    bottom: 40px;
    width: calc(100% - calc(var(--w-image) * var(--calcular)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
}

.flecha button{
    background-color: transparent;
    border: 1px solid var(--border-color-black-bg);
    color: #fff;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
    box-shadow: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
}

.flecha button:hover{
    border: 1px solid var(--border-color-white-bg);
    background-color: #ffffff88;
    color: #000;
}

.carrossel .lista .item{
    display: none;
}

.carrossel .lista .item.ativado,
.carrossel .lista .item.outro_1,
.carrossel .lista .item.outro_2{
    display: block;
}

.carrossel .lista .item.ativado{
    z-index: 2;
}



.carrossel .lista .item.outro_1,
.carrossel .lista .item.outro_2{
    pointer-events: none;
}

.carrossel .lista .item.ativado .conteudo-principal{
    animation: showContent 1s ease-in-out 1 forwards;
}

@keyframes showContent {
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}

.next .item.outro_1{
    z-index: 1;
}

.next .item .image img,
.next .item .image figcaption{
    animation: effectNext .5s ease-in-out 1 forwards;
}

@keyframes effectNext {
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}

.next .item.ativado .image{
    --transform-from: var(--w-image);
}


.next .item.outro_1 .image{
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}


.next .item.outro_2 .image{
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}


.flecha{
    z-index: 10;
}

.carrossel .lista .item .conteudo-principal .conteudo #auraBB{
    position: absolute;
    top: 150px;
    left: 50px;
    content: '';
    background-color: var(--shadow-color-bloodborne2);
    width: 500px;
    height: 100px;
    z-index: 1;
    pointer-events: none;
    border-radius: 300px 10px 250px 230px;
    filter: blur(80px);
 
}

.carrossel .lista .item .conteudo-principal .conteudo #auraBB::after{
    position: absolute;
    top: 650px;
    left: 800px;
    content: '';
    background-color: var(--shadow-color-bloodborne2);
    width: 400px;
    height: 200px;
    filter: blur(100px);
}

.carrossel .lista .item .image.auraImgBB img{
    filter: drop-shadow( 0px -40px 40px rgba(0, 0, 0, 0.575));
}


.carrossel .lista .item .conteudo-principal .conteudo #auraDs{
    position: absolute;
    top: 150px;
    left: 45px;
    content: '';
    background-color: var(--shadow-color-ds);
    width: 900px;
    height: 80px;
    z-index: 1;
    pointer-events: none;
    border-radius: 300px 10px 250px 230px;
    filter: blur(120px);
 
}

.carrossel .lista .item .conteudo-principal .conteudo #auraDs::after{
    position: absolute;
    top: 650px;
    left: 500px;
    content: '';
    background-color: var(--shadow-color-ds);
    width: 400px;
    height: 200px;
    filter: blur(100px);
}

.carrossel .lista .item .image.auraImgDs img{
    filter: drop-shadow( 30px 20px 60px rgba(0, 0, 0, 0.692));
}

.carrossel .lista .item .conteudo-principal .conteudo #auraDs2{
    position: absolute;
    top: 150px;
    left: 45px;
    content: '';
    background-color: var(--shadow-color-ds2);
    width: 900px;
    height: 80px;
    z-index: 0;
    pointer-events: none;
    border-radius: 300px 10px 250px 230px;
    filter: blur(120px);
 
}

.carrossel .lista .item .conteudo-principal .conteudo #auraDs2::after{
    position: absolute;
    top: 650px;
    left: 500px;
    content: '';
    background-color: var(--shadow-color-ds2);
    width: 400px;
    height: 200px;
    filter: blur(100px);
}

.carrossel .lista .item .image.auraImgDs2 img{
    filter: drop-shadow( 0px 0px 70px rgba(0, 0, 0, 0.712));
}

.carrossel .lista .item .conteudo-principal .conteudo #auraDs3{
    position: absolute;
    top: 150px;
    left: 45px;
    content: '';
    background-color: var(--shadow-color-ds3);
    width: 900px;
    height: 80px;
    z-index: 0;
    pointer-events: none;
    border-radius: 300px 10px 250px 230px;
    filter: blur(120px);
 
}

.carrossel .lista .item .conteudo-principal .conteudo #auraDs3::after{
    position: absolute;
    top: 650px;
    left: 500px;
    content: '';
    background-color: var(--shadow-color-ds3);
    width: 400px;
    height: 200px;
    filter: blur(100px);
}

.carrossel .lista .item .image.auraImgDs3 img{
    filter: drop-shadow(50px 10px 60px rgba(0, 0, 0, 0.445));
}

.carrossel .lista .item .trailer.bb{
    background-color: #000000;
    color: #fff;
    padding: 10px 30px;
    font-family: "adobe-garamond-pro", serif;
    font-size: large;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px 1px #00000057;
    transition: ease-in-out .2s;
}
.carrossel .lista .item .trailer.bb:hover{
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

.carrossel .lista .item .trailer.ds1{
    background-color: #2e89ff;
    color: rgb(19, 19, 19);
    padding: 10px 30px;
    font-family: "adobe-garamond-pro", serif;
    font-size: large;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px 1px #00000057;
    transition: ease-in-out .2s;
}
.carrossel .lista .item .trailer.ds1:hover{
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

.carrossel .lista .item .trailer.ds2{
    background-color: #cc4a34;
    color: rgb(19, 19, 19);
    padding: 10px 30px;
    font-family: "adobe-garamond-pro", serif;
    font-size: large;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px 1px #00000057;
    transition: ease-in-out .2s;
}
.carrossel .lista .item .trailer.ds2:hover{
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

.carrossel .lista .item .trailer.ds3{
    background-color: #ddcf50;
    color: rgb(19, 19, 19);
    padding: 10px 30px;
    font-family: "adobe-garamond-pro", serif;
    font-size: large;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px 1px #00000057;
    transition: ease-in-out .2s;
}
.carrossel .lista .item .trailer.ds3:hover{
    transform: scale(1.05);
    transition: ease-in-out .2s;
}